<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051237960882-15r3n8jnnpgih0i38dv66fp84nujoo6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051237960882-15r3n8jnnpgih0i38dv66fp84nujoo6d</string>
	<key>API_KEY</key>
	<string>AIzaSyCra6fEhsZf5oB67jJfF4bLKCo-KqgBr1w</string>
	<key>GCM_SENDER_ID</key>
	<string>1051237960882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWeb</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-f504e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-f504e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051237960882:ios:f4e7a7ab9cb54cf0198dab</string>
</dict>
</plist>